<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Register </h2>


    <!-- Login Form -->
    <form [formGroup]="registrationApplicationForm" (ngSubmit)="onSubmit(registrationApplicationForm.value)">
      <input type="text" id="email" class="fadeIn first text-box" name="email" formControlName="email" placeholder="email"><br />
      <small *ngIf="isControlInvalid('email') && hasError('email', 'required')"><sup>*</sup>email is required</small>
      <small *ngIf="isControlInvalid('email') && hasError('email', 'email')"><sup>*</sup>Please provide a valid email</small>

      <input type="password" id="password" class="fadeIn second text-box" name="password" formControlName="password" placeholder="password"><br />
      <small *ngIf="isControlInvalid('password') && hasError('password', 'required')"><sup>*</sup>password is required</small>

      <input type="password" id="passwordConfirm" class="fadeIn third text-box" name="passwordConfirm" formControlName="passwordConfirm" placeholder="repeat password"><br />
      <small *ngIf="isControlInvalid('passwordConfirm') && hasError('passwordConfirm', 'required')"><sup>*</sup>password needs confirmation</small>
      <h3>Role</h3>
      <select class="fadeIn fourth custom-select" formControlName="role">
        <option *ngFor="let item of roles" [ngValue]="role">
          {{ item }}
        </option>
      </select>
      
      <br />
      <input [disabled]="!registrationApplicationForm.valid" type="submit" class="fadeIn fourth" value="Register">
    </form>

  </div>
</div>
