<table class="fixed_headers">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Change status to</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tasks">
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>
      <td>{{item.status}}</td>
      <td>{{item.assignedTo}}</td>
      <td>
        <form [formGroup]="statusChangeForm" >
          <select (change)="changeStatus($event)" formControlName="status"  >
            <option *ngFor="let itemStatus of statuses" [ngValue]="itemStatus">
              {{ itemStatus }}
            </option>
          </select>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<a [style.visibility]="IsUserAdmin ? 'visible' : 'hidden '" routerLink="/task/addTask">Add task</a>
